*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
    }
.reservedCheck:hover{text-decoration: none !important;}

body{
    font-family: 'S-Core Dream', NanumGothic;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}
/*
.header {
    background:black;
    width:100%;
    height: 100px;
    line-height: 84px;
}
*/
#tab_btn li:hover button{color: #ff6c00;}
.MyPage_box{
    background:#eee;
    width:100%;
    height: 70px;
}
.MyPage {
    width: 1024px;
    margin: 0 auto;
    padding-top: 25px;
}
.MyPage h1 {
    font-size: 22px;
    font-weight:600;
}
.container_box {
    margin: 0 auto;
/*     overflow: hidden; */
    width: 1024px;
    word-break: break-all;
}

/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉볟뜝�럥荑덂뜝�럩援꿨뜝�럥�맶占쎈쐻�뜝占�*/
.aside {
    position: relative;
    float: left;
    width: 270px;
    min-height: 350px;
    padding-right: 30px;
}
.aside ul{
    margin-top: 40px;
/*    top:250px;*/
    border-top: 3px solid #666666;
    background-color: white;
/*    position: fixed;*/
    z-index: 1;
    width: 235px;
}
.aside li{
    border-bottom: 1px solid #ddd;
    width: 235px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.aside_item {
    display: block;
    color: black;
    font-size: 18px;
    padding-left: 25px;
}
#tab_btn button{
    border: none;
    background:transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
#tab_btn li {
    cursor: pointer;
}
#inb {
    width: auto;
    position: relative;
}
/*�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.dropDown{
/*    position: absolute;*/
    display: none;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
#contents {
    float: left;
    width: 720px;
    height: 100%;
/*    padding-left: 6px;*/
    min-height: 500px;
/*     overflow: hidden; */
    padding-top: 40px;
}
#contents h3 {
    height: 77px;
    width: 100%;
    border-bottom: 2px solid #adadad;
    margin-bottom: 50px;
/*    padding-top: 150px;*/
    font-size: 30px;
    color: #d1840e;
    font-weight:900;
}
#contents p {
    padding-bottom: 10px;
    font-weight:700;
    font-size: 18px;
}
.setMenu {
	border-bottom: 1px solid #cccaca;
}
.imgSize {
	width:220px;
	height:165px;
	border:2px solid #ddd;
	border-radius: 10px; 
}
.pNameClick {
	margin:0 20px 25px 0;
}
.flex {
	display:flex !important;
 	flex-wrap: wrap; 
}
.pName {
	text-align:left;
	margin-top:10px;
}
.pagiImg {
	width:28px;
	height:30px;

}
.paginate {
    text-align: center;
    height: 40px;
    clear: both;
    position: relative;
    left: 120px;
    top:20px;
    margin-bottom:50px;
}
.paginate a {
	color: #555658;
    background: #fff;
    border: 1px solid #dcdcdc;
}
.paginate strong {
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0;
    vertical-align: middle;
    color: #fff;
    border: 1px solid #ed2542;
    background: #ed2542;
    font-weight: normal;
    line-height: 28px;
    cursor:pointer;
    margin-right:5px;
}
.page{
	border:none !important;
	margin-right:5px;	
}