*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    }

body{
    font-family: 'S-Core Dream', NanumGothic;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}
/*
.header {
    background:black;
    width:100%;
    height: 100px;
    line-height: 84px;
}
*/
.MyPage_box{
    background:#eee;
    width:100%;
    height: 80px;
}
.MyPage {
    width: 1024px;
    margin: 0 auto;
    padding-top: 25px;
}
.MyPage h1 {
    font-size: 25px;
}
.container_box{
    margin: 0 auto;
    overflow: hidden;
    width: 1024px;
    word-break: break-all;
}

/*사이드바*/
.aside {
    position: relative;
    float: left;
    width: 270px;
    min-height: 350px;
}
.aside ul{
    margin-top: 90px;
/*    top:250px;*/
    border-top: 3px solid #666666;
    background-color: white;
/*    position: fixed;*/
    z-index: 1;
    width: 235px;
}
.aside li{
    border-bottom: 1px solid #ddd;
    width: 235px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.aside_item {
    display: block;
    color: black;
    font-size: 18px;
    padding-left: 25px;
}
#tab_btn button{
    border: none;
    background:transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
#inb {
    width: auto;
    position: relative;
}

/*컨텐츠*/
#contents {
    float: left;
    width: 720px;
    height: 100%;
/*    padding-left: 6px;*/
    min-height: 500px;
    overflow-x: hidden;
    padding-top: 150px;
}
#contents h3 {
    height: 100px;
    width: 100%;
/*    padding-top: 150px;*/
    font-size: 30px;
    color: #d1840e;
    font-weight:900;
}
#contents p {
    padding-bottom: 10px;
    font-weight:700;
    font-size: 18px;
}
/***********개인정보변경*************/

/*테이블 설정*/
.tb_type {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
}
.table_td {
    background: #f8f8f8;
    border-top: 1px solid #d9d9d9;
    font-weight: 700;
    padding: 12px;
    text-align: justify;
    color: #666;
}
.tb_type tbody tr td {
    border-top: 1px solid #d9d9d9;
    padding: 20px;
    color: #666;
}
/*비밀번호*/
.input_password {
    border: 1px solid #cccccc;
    padding: 2px 0 2px 5px;
    height: 20px;
}
/*비밀번호 변경*/
.pwChange {
    width: 90px;
    height: 27px;
    font-size: 13px;
    background: #d1840e;
    color: white;
    text-align: center;
    margin-left: 12px;
    border-color:#e79210;
}
/*전화번호*/
.first_number {
    width: 72px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 13px;
    color: #666;
}
.phon_number {
    border: 1px solid #cccccc;
    padding: 2px 0 0 2px;
    height: 20px;
    width:100px;
}
/*이름*/
.input_name {
    border: 1px solid #cccccc;
    padding: 2px 0 2px 5px;
    height: 25px;
}
/*변경하기 버튼*/
.btn_type {
    width: 120px;
    height: 35px;
    font-size: 15px;
    background:#d1840e;
    color: #fff;
    margin: 0 auto;
    margin-top: 35px;
    display: block;
    text-align: center;
    outline: none;
    border-color:#e79210;
}
/***********내가 작성 한 글*************/
.myWritten-table {
    width: 100%;
    border-top: 2px solid #585e6a;
    background: transparent;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    line-height: 50px;
    margin-bottom: 50px;
    z-index: 5;
    position: relative;
    table-layout:fixed;
}
/*thead*/
.thead{
    border-right: 1px solid #d0d0d0;
    color: #000;
    font-size: 15px;
    padding: 0 10px 0 9px;
}
.myWrittenHead tr{
    background-color: #f5f5f5;
}
.title {
    width: 280px;
}
/*tbody*/
.myWrittenContainer tr th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    line-height: 23px;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    font-size: 13px;
    padding:10px 10px 10px 9px;
    color: #555;
}
/*게시글 이동*/
.boardMove {
    width: 95px;
    height: 32px;
    font-size: 15px;
    background:#f7b147;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: none;
    border-color:#f9a72b;
}
/*게시글 삭제*/
.boardDelete {
    width: 95px;
    height: 32px;
    font-size: 15px;
    background:#fa2a2a;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: none;
    border-color:#e20101;
}
/***********TakeoutReservedLIst*************/
/*테이블 설정*/
.reserved-table {
    width: 100%;
    border: 2px solid #ccc;
    background: transparent;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    line-height: 50px;
}
/*thead*/
.reservedHead tr th{
    border-right: 2px solid #ccc;
    color: #999;
    font-size: 16px;
}
/*tbody*/
.reservedContainer tr{
    background-color: #aad7f3;
}
.reservedContainer tr td {
    white-space:nomal;
    overflow: hidden;
    line-height: 23px;
    border-top: 2px solid #b1dffc;
    border-right: 2px solid #b1dffc;
    font-size: 13px;
    padding:10px 10px 10px 9px;
}
/*예약 확인 내역*/
.reservedCheck {
    width: 120px;
    height: 35px;
    font-size: 15px;
    background:#d1840e;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: none;
    border-color:#e79210;
}
/***********회원탈퇴*************/
.withdrawal ul{
    border-top: 2px solid #333333;
    border-bottom: 1px solid #a8a7a7;
    padding: 35px 5px 35px 0;
    outline: none;
}
.withdrawal ul li{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.disc{list-style-type: disc; list-style-position: inside;}