*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    }
.reservedCheck:hover{text-decoration: none !important;}

body{
    font-family: 'S-Core Dream', NanumGothic;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}
/*
.header {
    background:black;
    width:100%;
    height: 100px;
    line-height: 84px;
}
*/
.MyPage_box{
    background:#eee;
    width:100%;
    height: 80px;
}
.MyPage {
    width: 1024px;
    margin: 0 auto;
    padding-top: 25px;
}
.MyPage h1 {
    font-size: 25px;
    font-weight:600;
}
.container_box {
    margin: 0 auto;
    overflow: hidden;
    width: 1024px;
    word-break: break-all;
}

/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉볟뜝�럥荑덂뜝�럩援꿨뜝�럥�맶占쎈쐻�뜝占�*/
.aside {
    position: relative;
    float: left;
    width: 270px;
    min-height: 350px;
    padding-right: 30px;
}
.aside ul{
    margin-top: 90px;
/*    top:250px;*/
    border-top: 3px solid #666666;
    background-color: white;
/*    position: fixed;*/
    z-index: 1;
    width: 235px;
}
.aside li{
    border-bottom: 1px solid #ddd;
    width: 235px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.aside_item {
    display: block;
    color: black;
    font-size: 18px;
    padding-left: 25px;
}
#tab_btn button{
    border: none;
    background:transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
#tab_btn li {
    cursor: pointer;
}
#inb {
    width: auto;
    position: relative;
}
.userPayCardUpdate{
    width: 92px;
    height: 28px;
    font-size: 16px;
    background: #e69f33;
    color: black;
    text-align: center;
    margin-left: 40px;
    border-color:#e79210;
    color: #e69f33 !important;
    font-weight: 600;
    cursor: pointer;
}
/*�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.dropDown{
/*    position: absolute;*/
    display: none;
}
.ButtonMyCard {
    width: 92px;
    height: 28px;
    font-size: 16px;
    background: #e69f33;
    color: black;
    text-align: center;
    margin-left: 40px;
    border-color:#e79210;
    color: #e69f33 !important;
    font-weight: 600;
    cursor: pointer;
}
.cardAdd_img {
    margin: 0 5px 10px 0;
}
.cardAdd_img2 {
    margin: 0px 5px 10px -4px;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
#contents {
    float: left;
    width: 720px;
    height: 100%;
/*    padding-left: 6px;*/
    min-height: 500px;
    overflow-x: hidden;
    padding-top: 120px;
}
#contents h3 {
    height: 100px;
    width: 100%;
/*    padding-top: 150px;*/
    font-size: 30px;
    color: #d1840e;
    font-weight:900;
}
#contents p {
    padding-bottom: 10px;
    font-weight:700;
    font-size: 18px;
}
/***********�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*************/

/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉볩옙�눀占쎈튂占쎄뎡 �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.tb_type {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
}
.table_td {
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    font-weight: 700;
    padding: 12px;
    text-align: justify;
    color: #666;
}
.tb_type tbody tr td {
    border-top: 1px solid #d9d9d9;
    padding: 20px;
    color: #666;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援뀐옙�렡占쎄섈占쎌맶�뜝�럥堉랃옙�쐻�뜝占�*/
.userPw {
    border: 1px solid #cccccc;
    padding: 2px 0 2px 5px;
    height: 32px;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援뀐옙�렡占쎄섈占쎌맶�뜝�럥堉랃옙�쐻�뜝占� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.pwChange {
    width: 90px;
    height: 27px;
    font-size: 13px;
    background: #d1840e;
    color: white;
    text-align: center;
    margin-left: 12px;
    border-color:#e79210;
    position: relative;
    bottom: 2px;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럩�꼨�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럩源�*/
.first_number {
    width: 72px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 13px;
    color: #666;
}
.userPhone {
    border: 1px solid #cccccc;
    padding: 2px 0 0 5px;
    height: 32px;
    width: 100px;
    position: relative;
    top: 3px;
}
/*�뜝�럥�맶�뜝�럥堉볡춯琉우뒩占쎄뎡*/
.userName {
    border: 1px solid #cccccc;
    padding: 2px 0 2px 5px;
    height: 32px;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉ｇ뭐癒��뵰占쎄뎡 �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥諭�*/
.btn_type {
    width: 120px;
    height: 35px;
    font-size: 15px;
    background:#d1840e;
    color: #fff;
    margin: 0 auto;
    margin-top: 35px;
    display: block;
    text-align: center;
    outline: 0;
    border-color:#e79210;
}

/***********�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥�넍�뜝�럥�떚�뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*************/
.myWritten-table {
    width: 100%;
    border-top: 2px solid #585e6a;
    background: transparent;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    line-height: 50px;
    margin-bottom: 50px;
    z-index: 5;
    position: relative;
    table-layout:fixed;
}
/*thead*/
.thead{
    border-right: 1px solid #d0d0d0;
    color: #000;
    font-size: 15px;
    padding: 0 10px 0 9px;
}
.myWrittenHead tr{
    background-color: #f5f5f5;
}
.title {
    width: 280px;
}
/*tbody*/
.myWrittenContainer tr th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    line-height: 23px;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    font-size: 13px;
    padding:10px 10px 10px 9px;
    color: #555;
}
/*�뜝�럥�맶�뜝�럥�끍�뜝�럥六사뭐癒��뵰占쎄뎡 �뜝�럥�맶�뜝�럥堉볟뜝�럥荑덂뜝�럩援�*/
.boardMove {
    width: 95px;
    height: 32px;
    font-size: 15px;
    background:#f7b147;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: none;
    border-color:#f9a72b;
}
/*�뜝�럥�맶�뜝�럥�끍�뜝�럥六사뭐癒��뵰占쎄뎡 �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.boardDelete {
    width: 95px;
    height: 32px;
    font-size: 15px;
    background:#fa2a2a;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: none;
    border-color:#e20101;
}
/***********TakeoutReservedLIst*************/
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉볩옙�눀占쎈튂占쎄뎡 �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.reserved-table {
    width: 100%;
    border: 2px solid #ccc;
    background: transparent;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    line-height: 50px;
}
/*thead*/
.reservedHead tr th{
/*     border-right: 2px solid #ccc; */
    color: #999;
    font-size: 16px;
}
.border_right {
		border-right: 2px solid #ccc;
}
/*tbody*/
.reservedContainer tr{
    background-color: #aad7f3;
}
.reservedContainer tr td {
    white-space:nomal;
    overflow: hidden;
    line-height: 23px;
    border-top: 2px solid #b1dffc;
    border-right: 2px solid #b1dffc;
    font-size: 13px;
    padding:10px 10px 10px 9px;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援� �뜝�럩�꼪�뜝�럥�맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.reservedCheck {
    width: 120px;
    height: 35px;
    font-size: 15px;
    background:#d1840e;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: none;
    border-color:#e79210;
}
/***********�뜝�럩�뤂�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럡�돮�뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*************/
.withdrawal ul{
    border-top: 2px solid #333333;
    border-bottom: 1px solid #a8a7a7;
    padding: 35px 5px 35px 0;
    outline: none;
}
.withdrawal ul li{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.disc{list-style-type: disc; list-style-position: inside;}
/*�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶占쎈쐻�뜝占�*/
.cardAdd {
/*     margin-top: 200px; */
    width: 460px;
    height: 470px;
    position: relative;
/*    top: 50%;*/
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    border: 3px solid #fff;
/*     left: 400px; */
    padding: 20px;
/*    position: fixed;*/
    text-align: justify;
    z-index: 10;
/*     transform:  translate(-50%, -50%); */
/*     border-radius: 10px; */
    box-shadow: 0 1px 1px 2px rgba(0.4, 0, 0, 0.4);
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿰뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶占쎈쐻�뜝占�*/
.cardAdd h2 {
   border-bottom: 2px solid #333;
    padding-bottom: 20px;
    color: #d7ab29;
    font-weight: 900;
    text-align: center;
    font-size: 25px;
}
.paymentCardAdd p1{
    display: inline-block;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�,�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉랃옙�쐻�뜝占�,�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�, �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥�넃�뜝�럥荑덂뜝�럩援�,�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援뀐옙�렡占쎄섈占쎌맶�뜝�럥堉랃옙�쐻�뜝占�*/
.paymentCardAdd p1 {
    font-size: 18px;
    font-weight: 600;
}
/*border-bottom*/
.paymentCardAdd {
    border-bottom: 1px solid #999;
    padding: 15px 0 15px 0;
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.bank select {
    width: 100px;
    height:30px;
    margin-left: 20px;
    color: black;
    font-size: 15px;
    background-color: #f1f1f1;
    border: 1px solid #999;
}
/*�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉랃옙�쐻�뜝占�*/
.Number {
    width: 120px;
    height: 28px;
    font-size: 15px;
    padding:0 0 2px 3px;
    margin-left: 20px;
    background-color: #f1f1f1;
/*    border: 1px solid #999;*/
}
/*�뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援�*/
.validity {
    color: black;
    font-size: 15px;
    background-color: #f1f1f1;
    border: 1px solid #999;
}
.Month {
    margin: 0 7px 0 20px;
}
/*�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럩�뤂,�뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援� �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥諭�*/
.cardButton {
    width: 80px;
    height: 35px;
    font-size: 15px;
    background:#d1840e;
    color: #fff;
    text-align: center;
    outline: none;
    border-color:#e79210;
    margin: 0 5px 0 5px;
}
.paymentCardAdd:nth-child(6) {
	margin-bottom:30px;
}
.Check {
    margin:0 auto;
    width:fit-content;
}
/*MY �뇖�궠�뼠占쎌맶�뜝�럥吏쀥뜝�럩援�*/
 /* .MYcard {
	display: none; Hidden by default
	position: fixed; Stay in place
	z-index: 1; Sit on top
	width: 400px;
	height: 400px;
	padding: 20px;
	margin-left: 70px;
	margin-top:-100px;
} */
#MYcardModal { 
    	border-radius:25px;
         position: fixed; 
         left: 0; 
         top: 0; 
         width: 100%; 
         height: 100%; 
       /*   text-align:center; */
         background-color: rgba(0, 0, 0, 0.5); 
         opacity: 0; 
         visibility: hidden; 
         display: none;
        z-index:9999;
         transform: scale(1.1); 
         transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
     } 



.BankName {
    font-size: 35px;
    color: #fff;
    font-weight: 900;
    padding: 20px 0 0 250px;
}
.MYcardNum{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    padding: 100px 0 0 30px;
}
.MYcardName{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    padding: 30px 0 0 30px;
}
/* Modal Content/Box */
.cardmodal-content {
 background-image: url(/resources/images/mycard.png);
 background-repeat: no-repeat;
/*  margin: 15% auto; 15% from the top and centered */
 padding: 20px;
 width: 600px !important;
      position: absolute; 
         top: 30%; 
         left: 40%; 
 }
/* �뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥吏쀥뜝�럩援꿨뜝�럥�맶�뜝�럥堉ｇ뭐癒��뵰占쎄뎡  */
.cardDelete {
    width: 120px;
    height: 35px;
    font-size: 15px;
    background:#d1840e;
    color: #fff;
    position:relative;
    margin: 0 auto;
    margin-top: 35px;
    top:20px;
    left:-48px;
    display: block;
    text-align: center;
    outline: none;
    border-color:#e79210;	
}

/* �뜝�럩寃ュ뜝�럥�빢嶺뚯빢�삕 占쎈퉲占쎈츊占쎌졑 嶺뚮ㅄ維�占쎈펿*/
.documentPopup{
 		  display: none;  /* Hidden by default */
 	
 	position: fixed;  /* Stay in place */
	 z-index: 10000;  /* Sit on top */
	 left: 0; 
	 top: 0;  
	 width: 100%;  /* Full width */
	  height: 100%; */ /* Full height */
	 /* overflow: auto;   *//* Enable scroll if needed */
	 background-color: rgb(0, 0, 0); /* Fallback color */
	 background-color: rgba(0, 0, 0, 0.4);  /* Black w/ opacity */
/* 	 position:absolute; */
	 margin:0 auto;
}
.documentCenter{
 	  	background-color: #fefefe;
    margin: 10% auto;  
	padding: 25px;
	border: 1px solid #888;
/* 	height:40px; */
/* 	min-width:40px; */
	/* width:100%; */
	width: 685px; 
	 border-radius: 10px;
	 transition: opacity .5s, top .5s;
	  box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	  
	/*  transform: translate(-50%, -50%); */
}
.documentCenter h2{text-align: center; margin-top: 20px;}
.documentUl{margin-top:30px;}
.menuTable  {width:90%; text-align: center; margin-left: 40px; border-bottom:2px dotted #555555;}
.menuTable thead {width:100%; border-top:2px dotted #555555; border-bottom:2px dotted #555555;}
.menuTable thead th{width:30%; padding: 6px; letter-spacing:5px; }
.totalTable  {width:90%;  margin-left: 40px; text-align: justify; margin-bottom: 40px;}
.totalTable thead {width:100%; border-bottom:2px dotted #555555;}
.totalTable thead th{width:30%; padding: 6px; text-align: center;}
.documentUl > li > span:nth-child(1){font-weight: 600; font-size: 17px; width: 100px; margin-right: 10px;}
.documentBtnCenter{width:246px; margin: 0 auto;}

.documentBtnCenter button{
background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:45px;
  font-size:20px;
  padding:0 2em;
  border-radius:5px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  position:relative;
  left: 50px;
  margin-top: 25px;
}
.documentBtnCenter button:hover {
	background:#fff;
  color:#1AAB8A;
}
.documentBtnCenter button:before,.documentBtnCenter button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.documentBtnCenter button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.documentBtnCenter button:hover:before,.documentBtnCenter button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.modal a.close-modal{
	width: 0 !important;
}
.menuTable th{
	border: 1px solid #dddddd;
}

/*占쎌돳占쎌뜚占쎄퉱占쎈닚 筌뤴뫀�뼎筌∽옙*/
/* The Modal (background) */
        .withdrawalModal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .withdrawal-modal-content {
        	border-radius:10px;
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 450px; /* Could be more or less, depending on screen size */                          
        }
        /* The Close Button */
        .withdrawal-close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: relative;
    		bottom: 7px;
        }
        .withdrawal-close:hover,
        .withdrawal-close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .withdrawalH2 {
        	font-size:22px;
        	font-weight:600;
        	text-align:center;
        	border-bottom: 2px solid #000;
        	padding-bottom:20px;
        }
        .nowPwClass {
      	    width: 260px;
		    height: 28px;
		    font-size: 15px;
		    padding: 0 0 2px 3px;
		    background-color: #f1f1f1;
		    position:relative;
		    left:67px;
		    top:10px;
        }
        .userDeleteClass {
       	    width: 120px;
		    height: 35px;
		    font-size: 15px;
		    background: #d1840e;
		    color: #fff;
		    margin: 30px 0 0 135px;
		    display: block;
		    text-align: center;
		    outline: 0;
		    border-color: #e79210;
        }
		/*MY 燁삳�諭� 占쎈뼍疫뀐옙 甕곌쑵�뱣*/
		.cardmodal-close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: relative;
    		bottom: 60px;
        }
        .cardmodal-close:hover,
        .cardmodal-close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }