ul li{list-style-type: none;}
.ticket {
	position: relative;
	top: 24px;
	/*    color: #333333; */
	color: #fff !important;
	z-index: 3;
}

.ticket a {
	color: #fff;
}

.value-document{
	text-align: center;
	margin:0;
	padding-top:15px;
}
#dateInnerHTML ,#time,#priceSum{
	position:relative;
	left:70px;
}

.value-document li{
	list-style-type: none;
	display:inline-block;
	margin-right:150px;
	
}

.seats {
	max-width: 1024px;
	padding: 0;
	width: 100%;
	margin: 0 auto;
	flex-shrink: 0;
	position: relative;
	top: 35px;
	border-top:4px solid #eeeeee;
}

.left-box, .right-box {
	display: inline-flex;
	/*    flex-direction: column; */
	flex-direction: column;
	align-items: stretch;
	
	margin-top:30px;
	/*    min-height: 360px; */
	min-height: 620px;
	max-height: 620px;
	min-width: 500px;
	max-width: 500px; box-shadow : 0 1px 1.5px 0 rgba( 0, 0, 0, 0, 12);
	/* background-color: #eeeeee; */
	margin-bottom: 40px;
	vertical-align: middle;
	padding: 15px 10px;
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0, 12);


}

.right-box {
	/* 	position:relative;
	top:123px;*/
	/* 	min-height:555px;  */
	padding: 15px 0 0 50px;
}

.left-box {
	height: 620px;
	overflow-y: auto;
}

.right-box>ul {
	position: relative;
	list-style: none;
	font-size: 1em;
	right: 70px;
	min-width: 420px;
	display: inline-flex;
}

.right-box>li {
	float: left;
}

.right-box>ul>li>button {
	width: 90px;
	display:inline-block;
	border:2px solid #e3e3e3;
	background: #fff;
	width:120px;
}

.right-box>.burgerList {
	display:flex;
	list-style-type: none;
	flex-wrap: wrap;
}

.right-box>.chickenList {
	display:flex;
	list-style-type: none;
	flex-wrap: wrap;
}

.right-box>.sideMenuList {
	display:flex;
	list-style-type: none;
	flex-wrap: wrap;
}

.right-box>.drinkMenuList {
	display:flex;
	list-style-type: none;
	flex-wrap: wrap;
}

.burgerList>li>img {
	width: 120px;
	height: 100px;
	cursor:pointer;
}

.burgerList>li {
	width: 120px;
	margin-right: 30px;
	font-size: 17px;
}

.burgerList>li:nth-child(even) {
	position: relative;
	left: 30px;
}

.sideMenuList>li>img {
	width: 120px;
	height: 100px;
	cursor:pointer;
}

.sideMenuList>li {
	width: 120px;
	margin-right: 30px;
	font-size: 17px;
}

.sideMenuList>li:nth-child(even) {
	position: relative;
	left: 30px;
}

.drinkMenuList>li>img {
	width: 120px;
	height: 100px;
	cursor:pointer;
}

.drinkMenuList>li {
	width: 120px;
	margin-right: 30px;
	font-size: 17px;
}

.drinkMenuList>li:nth-child(even) {
	position: relative;
	left: 30px;
}

.chickenList>li>img {
	width: 120px;
	height: 100px;
	cursor:pointer;
}

.chickenList>li {
	width: 120px;
	margin-right: 30px;
	font-size: 17px;
}

.chickenList>li:nth-child(even) {
	position: relative;
	left: 30px;
}
#orderList > ul{
	position:relative;
	left:-30px;
}
#orderList>ul>ul>li {
	list-style: none;
	display: flex;
}

#orderList>#orderListUl img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
}

#orderList>ul>ul>button {
	position: relative;
}
/* .order-item{float: left; margin-right:70px;} */
.order-item img {width:100px; height:100px;}
.menuName{
	position : relative;
	left: 30px;
}
.menuPrice{
	position : relative;
	left: 30px;
}
.menuCount{
	position : relative;
	left: 30px;
}
.tnb-container {
	position: fixed;
	z-index: 10000;
	left: 0;
	bottom: 26px;
	width: 100%;
	min-width: 996px;
	height: 128px;
	background-color: #1d1d1c;
}

.tnb-reset {
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: 25px;
}

.tnb {
	margin: 0 auto;
	/* width: 996px; */
	height: 108px;
	padding: 10px 0;
	position: fixed;
	bottom:50px;
	left:10px;
}

.info {
	width: 210px;
	float: left;
	height: 108px;
	padding-right: 2px;
	position: fixed;
	/* left: -60px; */
	color: #cccccc;
	/* font-size: 12px; */
	font-size: 1em;
}

.btn-right, .btn-left {
	position: absolute;
	top: 10px;
	right: 0;
	width: 70px;
	height: 70px;
	background: #333333;
	border-radius: 20px;
	font-size: 1.2em;
	font-weight: 700;
	padding-top: 40px;
	text-shadow: 1px 1px #000;
	/*    font-size: 12px;*/
	border: 1px solid #fff;
	text-align: center;
	/*    background-image: url(../images/NEXT4_26874.png);*/

	/*    background: no-repeat;*/
	/*    background-size: cover;*/
}
.order-center{
	/* margin:0 auto; */
	text-align:center;
	position: relative;
	bottom:100px;
	background:
}
.btn-left {
	position: absolute;
	left: 0;
	/*    background-image: url(../images/BACK4_26875.png);*/
	/*    background-image: url(../images/left.png);*/
}
.btn-right{
	position:absolute;
	left:170px;
}
.header {
	display: block;
	margin-top: 20px;
}

.data {
	width: 100px;
	list-style-type: none;
	display: inline-block;
	text-align: right;
	position: relative;
	left: 95px;
	top: -23px;
	font-weight: 700;
}
.left-am,.right-pm , .ampm{
 	display:inline-flex; 
height:300px;
width:300px;
 flex-direction:column;
  align-items: stretch; 
/*   min-height:500px; */
   max-width:500px; 
   padding:15px 10px;
   flex-wrap:wrap;
   margin-top:30px;
   }
.right-pm , .pm{position: relative; left:25px;}
.right-pm .button-4, .left-am .button-4{margin-bottom: 30px; margin-right:20px;}

.divDirectInput{display:inline-block;}

.button-4{
  width:85px;
  height:33px;
  border:2px solid #34495e;
  text-align: center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-4 a{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  line-height:33px;
/*   margin: 0 20px 20px 0; */
}
.eff-4{
  width:85px;
  height:33px;
  left:-140px;
  background:#34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-4:hover .eff-4{
  left:0;
  color:#fff !important;
}
 a:hover{
  color:#fff !important;
}

.side{
    position: fixed;
    left: 0;
    top: 0;
/*     z-index: 500; */
    height: 100%;
    width: 300px;
    /* background-image: url('/resources/img/background/burger-2047767_1920.jpg'); */
    background-color:#e3e3e3;
    color:#000;
    font-weight:700;
    font-size:20px;
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.menu-ul{
    position: relative;
    top: 300px;
    right: 40px;
    width: 100%;
    text-align: center;
    list-style: none;
}
.menu-ul li{
    margin-bottom: 40px;
}
.top-menu{
    float: none;   
}
.menu-ul li span{
    text-decoration: none;
/*     color: white; */
    margin-bottom:50px;
}

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1535 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #c47135;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}

.fc-row {margin-right:0 !important; }
.fc-scroller{overflow:auto !important; height:384px !important;}

.buttonblack {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.buttonblack:hover {
  background-color: #555555;
  color: white;
}

.directInput{
  margin-left:11px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right:2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
#directinput{padding:5px; margin-right:5px;}

#directbutton{
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #555555;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  vertical-align: top;
}
#directbutton:hover{background-color: #555555;}
#directbutton:active {
  background-color: #555555;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btncnt{
	border-radius: 5px;
	background:#E8601B;
	  padding: 4px 10px;
	  margin-right:5px;  
  font-size: 12px;
  color:#fff;
  border:none;
}
.center{margin:0 auto; width:125px;}
.xButton{
	 /*    border: none;
    border-radius: 5px;
    display: block;
    padding: 0 8px; */
}
.orderMenuName{display: block;}
/* .right-p{display:flex; flex-direction: column;} */

.table{width:100%; text-align: center;}
.table th{background: #fbfbfb;}

/* .table td span{line-height: 130px;} */

/* 3D Button */
.btn-3d {
	position: relative;
	display: inline-block;
	font-size: 16px;
	/* padding: 20px 60px; */
	color: white;
	/* margin: 20px 10px 10px; */
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.red:hover   {background-color: #e74c3c;}
.btn-3d:active {
	top: 9px;
}
/* 3D button colors */
.btn-3d.red {
	background-color: #e74c3c;
	box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
				border:none;
}
.btn-3d.red:active {
	box-shadow: 0 0 0 1px #c63702 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}
.reservedCheck .span{width:100px; margin-right:20px; font-weight: 600;}
